@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "utils/_variables.scss";
@import "utils/mixins.scss";
//règles générales//
.Bloc_0{
    
    width: 100%;
    font-family: 'Arial', Times, serif;
}
//index//
//header//
header{
    width: 100%;
    justify-content: space-between;
    background: $colorTertiary;
    & .navbar-brand{
        margin-left: 60px;
    }
    & .search{
        margin: 0 100px 0 100px;
        & #itemSearch{
            border: 2px solid $colorSecondary;
            border-radius: 20px;
            overflow: hidden;
            outline: none;
            padding: 5px 10px;
        }
        & button{
            border-radius: 50px;
            border: none;
            background: none;
        }
    }
    & #navbarContent{
        & a{
        margin-right: 100px;
        color: black;
        font-weight: bold;
        font-size: 1.7rem;
        @include mobile_only{
            font-size: 3rem;
        }
        &:hover{
            color: $colorSecondary;
        }
        }

    }
    @include mobile_only{
        & img{
            width: 400px;
            height: 150px;
        }
        
    }
}

// Section //

#main{
    width: 100%;
    & img{
        width: 400px;
        height: 300px;
        @include mobile_only{
            width: 598px;
            height: 500px;
        }
    }
}
// Blocs produits//
.list-product{
    @include mobile_only{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Bloc produit//
.productList_block{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    border: 2px solid $colorPrimary;
    // Decription du produit//
    & .productList_block--right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        margin-right: 20px;
        & a{
            color: $colorPrimary;
            &:hover{
                color: lighten($color: $colorPrimary, $amount: 5);
            }
        }
    }
    @include mobile_only{
        width: 600px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        // Image du produit //
        & .productList_block--left{
            width: 598px;
            height: 500px;
            & img{
                width: 598px;
                height: 500px;
            }
        }
        & .productList_block--right{
            align-items: center;
            font-size: 2.5rem;
        }
        & h2{
            font-size: 3rem;
        }
    }
}

// Page produit //
#nameProduct{
    display: flex;
    justify-content: center;
    margin: 60px;
    @include mobile_only{
        font-size: 3rem;
    }
}
// image du produit séléctionné //
.sheet-product__img{
    display: flex;
    justify-content: center;
}
// Description du produit + boutton ajouter panier //
.sheet-product__description{
    border: 2px solid $colorPrimary;
    margin: 30px;
    padding: 20px;
    & .sheet-product__description__order{
        display: flex;
        justify-content: center;
        & #ajouterProduitPanier{
            background: $cd_degrade;
            padding: 10px;
            margin: 20px;
            border: none;
        }
    }
    @include mobile_only{
        font-size: 2.5rem;
        margin-top: 150px;
        margin-bottom: 250px;
        & #ajouterProduitPanier{
            font-size: 2.5rem;
            margin-left: 0;
        }
    }
}
// panier avec recap produit et prix + form validation //
#basket-resume{
    display: flex;
    justify-content: center;
    margin: 100px;
    font-size: 2rem;
    & th, td{
        border: 2px solid #000;
        padding: 10px;
    }
    & .annulerProduit{
        margin-left: 20px;
    }
    @include mobile_only{
        font-size: 2.5rem;
    }
}

form{
    margin: 60px;
    width: 50%;
    & .btn--form{
        background: $cd_degrade;
        padding: 10px;
        margin-top: 60px;
    }
    @include mobile_only{
        font-size: 2.5rem;
        margin-left: 100px;
        width: 60%;
        & legend{
            font-size: 2.5rem;
        }
        & .form-control{
            font-size: 2rem;
        }
        & .btn--form{
            font-size: 2.5rem;
            margin-top: 150px;
            margin-bottom: 250px;
        }
    }
}
// page de validation commande //
.order-confirm__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    margin-top: 500px;
    margin-bottom: 750px;
    font-size: 2rem;
    & h2{
        font-size: 3rem;
    }
    @include mobile_only{
        font-size: 3rem;
        & h2{
            font-size: 4rem;
        }
    }
}

// footer //
.bg-light{
    @include mobile_only{
    & li{
        font-size: 3rem;
    }
    }
}